/*
!*/

.git/
autostart/
cachyos/
dconf/
discord/
Electron/
fuzzel/
gedit/
gtk-3.0/
gtk-4.0/
inkscape/
JetBrains/
libreoffice/
menus/
micro/
mozilla/
mpv/
nemo/
nwg-displays/
nwg-look/
octopi/
pomotroid/
session/
qalculate/
spotify/
vesktop/
waybar_backup/
xsettingsd/
